# Folders
.idea/
.vscode/
venv/
.venv/
env/
__pycache__/
docs/

# Artifacts
*.pyc
*.pyo
*.pyd
build/
dist/
*.egg-info/

# Logs
*.log

# Tests
.pytest_cache/
.tox/
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints
