version: 2.1
executors:
  docker-publisher:
    environment:
      IMAGE_NAME: madereddy/noisy
    docker:
      - image: cimg/python:3.12.7
jobs:
  build:
    executor: docker-publisher
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Install Docker Buildx
          command: |
            DOCKER_CONFIG=${DOCKER_CONFIG:-$HOME/.docker}
            mkdir -p $DOCKER_CONFIG/cli-plugins
            curl -SL "https://github.com/docker/buildx/releases/download/v0.16.2/buildx-v0.16.2.linux-amd64" -o $DOCKER_CONFIG/cli-plugins/docker-buildx
            chmod a+x $DOCKER_CONFIG/cli-plugins/docker-buildx
      - run:
          name: Create and use new Buildx builder
          command: |
            docker buildx create --use
      - run:
          name: Build Docker image
          command: |
            docker build -t $IMAGE_NAME:latest .
      - run:
          name: Test Docker image (amd64)
          command: |
            docker run --platform linux/amd64 $IMAGE_NAME:latest --config config.json --min_sleep 1 --max_sleep 5 --timeout 20
      - run:
          name: Build and push multi-arch Docker image
          command: |
            echo "$AccessToken" | docker login -u "$Login" --password-stdin
            docker buildx build --platform linux/amd64,linux/arm64 -t $IMAGE_NAME:latest --push .
      - store_artifacts:
          path: test-reports
          destination: test-reports

workflows:
  version: 2
  build-master:
    jobs:
      - build:
          filters:
            branches:
              only: master
